<header>
  <nav>
    <div class="container-fluid">
      <div class="row justify-content-around align-items-center nav">
        <div class="col-5 offset-1"><a href="#" ><img src="assets/images/logowhite.png" alt="" width="156px" height="52px"/></a></div>
        <div class="col-5 text-right">
          <a href="" [routerLink]="['list']"><button class="btn btn-info">Главная</button></a>
          <button class="btn btn-info">Создать</button>
          <button class="btn btn-info">Выйти</button>
        </div>
      </div>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
